body {
    background: #fceef7;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;

    /* Corações espalhados */
    background-image: url('https://emojiapi.dev/api/v1/1f496/64.png'),
                      url('https://emojiapi.dev/api/v1/1f497/64.png'),
                      url('https://emojiapi.dev/api/v1/1f49c/64.png'),
                      url('https://emojiapi.dev/api/v1/1f60d/64.png');
    background-repeat: repeat;
    background-size: 60px;
    opacity: 0.95;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #d14f7d;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 260px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.04);
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 12px;
}

.card p {
    margin-top: 12px;
    color: #000;
    font-size: 20px;
}
